.nav-item {
  font-family: "Raleway", sans-serif;
  color: #fff;
  font-size: 23px;
  margin: 0 20px;
  padding: 10px 10px;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.nav-item:before,
.nav-item:after {
  position: absolute;
  opacity: 0;
  width: 0%;
  height: 2px;
  content: "";
  background: #fff;
  transition: all 1s;
}

.nav-item:before {
  left: 0px;
  top: 0px;
}

.nav-item:after {
  right: 0px;
  bottom: 0px;
}
.nav-item:hover:before,
.nav-item:hover:after {
  opacity: 0.3;
  width: 100%;
}

.nav-icon {
  width: 35px;
  height: 35px;
  margin-right: 10px;
}

.nav-title {
  text-shadow: 1px 0.9px 1px #525254;
}

@media only screen and (max-width: 700px) {
  .nav-item {
    font-size: 18px;
    margin: 0 10px;
  }
}

@media only screen and (max-width: 500px) {
  .nav-item {
    font-size: 15px;
    margin: 0 5px;
  }
}
