.btn-fav {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  margin: 30px auto;
  background-color: #8b0001;
  color: #fff;
  border-radius: 5px;
  width: 180px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.add {
  background-color: #01796f;
}
