.btn-fav {
  margin: 30px 80px;
  background-color: red;
  border-radius: 5px;
  width: 150px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add {
  background-color: blue;
}
