.single-table-item-container {
  margin: 20px auto;
  width: 90%;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  box-shadow: 0 0 2px #454547;
  background-color: whitesmoke;
  border-radius: 10px;

  .field-wrapper {
    display: flex;
    padding: 8px 5px;
    flex-direction: row;
    justify-content: space-between;
  }
}
