.login-btn {
  font-family: "Raleway", sans-serif;
  font-size: 23px;
  margin-left: 13px;
  width: 100px;
  padding: 6px 10px;
  text-align: center;
  border: none;
  background-color: transparent;
  color: white;
}

.login-container {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 40px;
}

.login-btn:hover {
  box-shadow: 0 0 2px white;
}
