.tbl {
  border-collapse: collapse;
  width: 100%;
  margin: 20px auto;
}
th {
  font-family: "Raleway", sans-serif;
}
th,
tr,
td {
  height: 50px;
  vertical-align: middle;
  padding: 0 5px;
}

tr {
  border-bottom: 0.6px solid #28282b;
}
.tbl-container {
  margin: 40px 30px;
}

th {
  text-align: left;
  font-weight: 900;
}
